{% extends 'front/base.html' %}
{% load static %}
{% block title %} {{project.title}} - {{seo_settings.meta_title}} {% endblock title %}
{% block title1 %} {{project.title}} - {{seo_settings.meta_title}} {% endblock title1 %}
{% block title2 %} {{project.title}} - {{seo_settings.meta_title}} {% endblock title2 %}
{% block content %}
    <main class="creasoft-wrap">

        <div class="line_wrap">
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
        </div>

        <section class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper">
                            <div class="breadcrumb-cnt">
                                <h1>{{ project.title }}</h1>
                                <span>
                                    <a href="{% url "homePageFront" %}">Home</a>
                                    <i class="bi bi-arrow-right"></i>
                                    <a href="{% url "projectPageFront" %}">Projects</a>
                                    <i class="bi bi-arrow-right"></i>
                                    {{ project.title }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Project Details -->
        <section class="project-details sec-mar-top">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="project-details-content">
                            {% if project.title %}
                            <h3>{{ project.title }}</h3>
                            {% endif %}
                            {{ project.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services Under This Project -->
        {% if services %}
        <section class="services-grid sec-mar">
            <div class="container">
                <div class="title-wrap">
                    <div class="sec-title">
                        <span>{{ project.title }}</span>
                        <h2>Our Services</h2>
                    </div>
                </div>
                <div class="row g-4">
                    {% for service in services %}
                    <div class="col-md-6 col-lg-4 wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="single-service">
                            <span>0{{forloop.counter}}</span>
                            {% if service.fontawesome_icon_class %}
                            <div class="icon">
                                <i class="{{ service.fontawesome_icon_class }} service-ico"></i>
                            </div>
                            {% endif %}
                            {% if service.name %}
                            <h4>{{ service.name }}</h4>
                            {% endif %}
                            {% if service.short_description %}
                            <p>{{ service.short_description }}</p>
                            {% endif %}
                            <div class="read-btn">
                                <a href="{% url "projectServiceDetail" project.slug service.slug %}">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}

        <!-- Other Projects -->
        {% if projects %}
        <section class="project-details sec-mar">
            <div class="container">
                <div class="row">
                    <div class="project-slider">
                        <h4>Other Projects</h4>
                        <div class="arrow">
                            <div class="swiper-button-next-c"><i class="bi bi-arrow-right"></i></div>
                            <div class="swiper-button-prev-c"><i class="bi bi-arrow-left"></i></div>
                        </div>
                        <div class="swiper project-slide">
                            <div class="swiper-wrapper">
                                {% for proj in projects|slice:":3" %}
                                <div class="swiper-slide">
                                    <div class="single-item">
                                        <div class="item-img">
                                            <a href="{% url "projectDetails" proj.slug %}">
                                                <img src="{{ proj.getProjectImage }}" alt>
                                            </a>
                                        </div>
                                        <div class="item-inner-cnt">
                                            <span>{{ proj.category }}</span>
                                            <h4>{{ proj.title }}</h4>
                                            <div class="view-btn">
                                                <a href="{% url "projectDetails" proj.slug %}">view details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

    </main>
{% endblock %}
